/bank_persistence3/target/
/SE42 auction/auction_persistence3/target/
/SE42 auction/auction_persistence4/target/
/SE42 auction/auction_persistence5/target/
/auctionWebservice/nbproject/private/
/SE42 auction/auctionWebservice/nbproject/private/
/SE42 auction/auction_persistence3 - Copy/target/
/SE42 auction/auctionWebservice/target/
/SE42 auction/actionClient/nbproject/private/
/SE42 auction/auctionWebclient/nbproject/private/
/SE42 auction/auctionWebclient/build/
/SE42 auction/auctionWebclient/dist/